/*I dette dokument, vil jeg forsøge at vise hvordan jeg pynter på hjemmesiden
Jeg vil ved hver class eller ID henvise til mit HTML dokument, og forklare
hvad jeg gør for at få det til at tilpasse sig til sin hjemmeside*/

:root{
    /*Dette er her du kan indsætte dine definerede variabler, så som fonte, farver osv.*/
--denroede: #ff0000; /*man starter med "--", derefter et navn, der er let at forstå og så "#(farvekode)
Med plugins kan man bare skrive ffff(hvid) og vælge farven med et colorwheel
plug-innet hedder "color highlight*/

}

body{
    background-color: rgb(255, 255, 255);
    color: #ffff
}

.formular{
    color: white;
    text-decoration-line: underline;
    text-shadow: 0.5px 0.5px 0 black;
    background-image: url(../img/formimg/animebaggrund.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

.ikon{
    font-size: 14px;
}

footer{
    display: flex;
    color: black;
    justify-content: center;
}

footer article{
    border: 6px solid black;
    width: 24%;
}
 

@media only screen{
    
}